@let currentUser = userService.currentUser$ | async;
@if (currentUser === null) {
	Loading current user...
} @else {
	<section class="dashboard-page">
		<engomw-user-groups
			class="dashboard-page__sidebar"
			[groups]="currentUser.groups"
			[selectedGroup]="selectedGroup()"
			(groupClicked)="onGroupClick($event)"
		/>

		<div></div>
		<div class="dashboard-page__content">
			@let selectedGroupValue = selectedGroup();
			@if (selectedGroupValue === null) {
				Please select group
			} @else {
				<engomw-group-students
					class="students-section"
					[group]="selectedGroupValue"
					[items]="students$ | async"
					[isLoading]="isStudentsLoading$ | async"
				/>

				<section>
					<h2>{{ selectedGroupValue.name }} Tasks</h2>

					@let groupTasks = groupTasks$ | async;
					<ul>
						@for (task of groupTasks; track task.id) {
							<li>
								<article>
									<h3>{{ task.id + 1 }}</h3>
									<p>{{ task.description }}</p>
								</article>
							</li>
						}
					</ul>

					<button
						(click)="onAssignTaskClick()"
						type="button"
					>
						Assign task
					</button>
				</section>
			}
		</div>
	</section>
}
