@let currentUser = userService.currentUser$ | async;
@if (currentUser === null) {
	Loading current user...
} @else {
	<section class="dashboard-page">
		<engomw-user-groups
			class="dashboard-page__sidebar"
			[groups]="currentUser.groups"
			[selectedGroup]="selectedGroup()"
			(groupClicked)="onGroupClick($event)"
		/>

		<div></div>
		<div class="dashboard-page__content">
			@let selectedGroupValue = selectedGroup();
			@if (selectedGroupValue === null) {
				Please select group
			} @else {
				<section>
					<h2>{{ selectedGroupValue.name }}</h2>

					<p>Your students</p>

					@let groupUsers = groupUsers$ | async;
					<ul>
						@for (user of groupUsers; track user.id) {
							<li>{{ user | engomcFullName }}</li>
						}
					</ul>
				</section>

				<section>
					<h2>{{ selectedGroupValue.name }} Tasks</h2>

					@let groupTasks = groupTasks$ | async;
					<ul>
						@for (task of groupTasks; track task.id) {
							<li>
								<article>
									<h3>{{ task.id + 1 }}</h3>
									<p>{{ task.description }}</p>
								</article>
							</li>
						}
					</ul>
				</section>
			}
		</div>
	</section>
}
