:host {
	display: block;
}

.groups-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 256px;
	border-right: 2px solid var(--primary-dark-color);
	height: 100%;
	padding-top: 10px;
}

.groups-section__list {
	display: flex;
	list-style: none;
	justify-content: center;
	flex: 1
}
