@let currentUser = userService.currentUser$ | async;
@if (currentUser === null) {
 Loading current user...
} @else {
	<main class="dashboard-page">

		<section>
			<h2>Your groups</h2>

			<ul>
				@for (group of currentUser.groups; track group.id) {
					<li>
						{{ group.name }}
					</li>
				}
			</ul>
		</section>

		<section>
			<h2>Your tasks</h2>

			@let userTasks = userTasks$ | async;
			@if (userTasks !== null) {
				<ul>
					@for (task of userTasks; track task) {
						<li>
							{{ task.description }}
							<article>
								<h3>Task dictionary</h3>
								<ul>
									@for (vocabulary of task.dictionary; track vocabulary.id) {
										<li>{{ vocabulary.origin }} -> {{ vocabulary.translation }}</li>
									}
								</ul>
							</article>
						</li>
					}
				</ul>
			} @else {
				<p>No tasks</p>
			}
		</section>
	</main>
}
